div {
    color: white;
    background: linear-gradient(to right, cyan, blue);
    padding: 20px;
    border-radius: 8px;
    border: solid 1px black;
    text-align: center;
    max-width: 600px;
    margin: auto;
    position: absolute;
    top: 25%;
    left: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body {
    background: linear-gradient(to left, cyan, blue);
}